 body{background:#0f172a;
    color:#e2e8f0;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;}

 .card{ background:#1e293b;
    padding:2em;
    border-radius:1rem;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    width:350px;}

 .msg{padding:10px;border-radius: 8px; margin-bottom: 10px;}
 .error {background:#7f1d1d; color:#fecaca;}
 .success{background : #064e3b; color:#a7f3d0}
 input{width: 100%;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    outline:none}
 .btn {width: 100%;
    padding:14px;
    font-weight:bold;
    border:none;
    border-radius:10px;
    background:#22c55e;
    color:#0f172a;
    cursor: pointer;
    font-size:16px;
    transition:.2s;}

